<p>In den kommenden Monaten sind weitere parkrun-Standorte in Deutschland geplant. Hier ist der aktuelle Stand.</p>

{{if .PlannedDataTermin}}
<h2>Standorte mit bekanntem Starttermin</h2>
<p>Bei diesen Standorten ist die Planung schon sehr weit vorangeschritten und ein Starttermin wurde bereits bekannt gegeben:</p>
<ul>
  {{ range .PlannedDataTermin }}
    <li>{{.Name}} / {{.City}}<br>geplanter Start am {{.Start}}<br><a target="_blank" href="{{ .Instagram }}">Instagram</a></li>
  {{ end }}
</ul>
{{end}}

{{if .PlannedDataTest}}
<h2>Standorte ohne konkreten Starttermin, aber mit aktiven Test-Veranstaltungen</h2>
<p>Bei diesen Standorten gibt es bereits Test-Veranstaltungen, jedoch wurde noch kein offizieller Starttermin bekannt gegeben:</p>
<ul>
  {{ range .PlannedDataTest }}
    <li>{{.Name}} / {{.City}}<br><a target="_blank" href="{{ .Instagram }}">Instagram</a></li>
  {{ end }}
</ul>
{{end}}

{{if .PlannedDataOther}}
<h2>Weitere geplante Standorte (unbekannter Status)</h2>
<p>Bei diesen Standorten ist der Status der Planung noch unklar oder es liegen keine weiteren Informationen vor:</p>
<ul>
  {{ range .PlannedDataOther }}
    <li>{{.Name}} / {{.City}}<br><a target="_blank" href="{{ .Instagram }}">Instagram</a></li>
  {{ end }}
</ul>
{{end}}

<p><strong>Wichtiger Hinweis:</strong> Die obigen Listen wurden manuell aus öffentlichen Quellen zusammengetragen und können daher beliebig inakkurat sein.<br>Wie im Artikel <a href="/articles/neuen-parkrun-starten.html">Wie startet man einen neuen parkrun in Deutschland?</a> beschrieben, ist der Prozess von den ersten Ideen zum offiziellen parkrun-Standort ein langer Weg.
</p>
