{{template "header.html" .}}
<section class="section">
    <div class="container">
        <div class="content">
            <h1>Datenschutzerklärung</h1>

            <p>
                Der Schutz Ihrer persönlichen Daten ist mir wichtig.
                Ich verarbeite Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003).
                In diesen Datenschutzinformationen informiere ich Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen meiner Website.
            </p>

            <h2>Cookies</h2>
            <p>
                Die Webseite verwendet keine Cookies.
            </p>

            <h2>Analytics-Dienste</h2>
            <p>
                Zur Analyse der Zugriffszahlen wird <a target="_blank" href="https://goatcounter.com">Goatcounter</a> verwendet.
                Goatcounter sammelt keine personenbezogenen Daten und anonymisiert alle gesammelten Daten.
                Benutzer können nicht identifiziert werden und werden niemals über Websites hinweg verfolgt.
            </p>
        
            <h2>Hosting</h2>
            <p>
                Die von mir in Anspruch genommenen Hosting-Leistungen dienen der Zurverfügungstellung der folgenden Leistungen: Infrastruktur- und Plattformdienstleistungen, Rechenkapazität, Speicherplatz und Datenbankdienste, Sicherheitsleistungen sowie technische Wartungsleistungen, die wir zum Zwecke des Betriebs dieses Onlineangebotes einsetzen.
            </p>
            <p>
                Hierbei verarbeiten wir, bzw. unser Hostinganbieter Bestandsdaten, Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von Kunden, Interessenten und Besuchern dieses Onlineangebotes auf Grundlage unserer berechtigten Interessen an einer effizienten und sicheren Zurverfügungstellung dieses Onlineangebotes gem. Art. 6 Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss Auftragsverarbeitungsvertrag)
            </p>

            <h2>Erhebung von Zugriffsdaten und Logfiles</h2>
            <p>
                Wir, bzw. unser Hostinganbieter, erhebt auf Grundlage unserer berechtigten Interessen im Sinne des Art. 6 Abs. 1 lit. f. DSGVO Daten über jeden Zugriff auf den Server, auf dem sich dieser Dienst befindet (sogenannte Serverlogfiles). Zu den Zugriffsdaten gehören Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.
            </p>
            <p>
                Logfile-Informationen werden aus Sicherheitsgründen (z.B. zur Aufklärung von Missbrauchs- oder Betrugshandlungen) für die Dauer von maximal 7 Tagen gespeichert und danach gelöscht. Daten, deren weitere Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von der Löschung ausgenommen.
            </p>

            <h2>OpenStreetMap</h2>
            <p>
                Wir binden die Landkarten des <a target="_blank" href="https://www.openstreetmap.org">Dienstes “OpenStreetMap”</a> ein, die auf Grundlage der Open Data Commons Open Database Lizenz (ODbL) durch die OpenStreetMap Foundation (OSMF) angeboten werden. <a target="_blank" href="https://wiki.osmfoundation.org/wiki/Privacy_Policy">Datenschutzerklärung der OSMF</a>.
            </p>
            <p>
                Nach unserer Kenntnis werden die Daten der Nutzer durch OpenStreetMap ausschließlich zu Zwecken der Darstellung der Kartenfunktionen und Zwischenspeicherung der gewählten Einstellungen verwendet. Zu diesen Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne deren Einwilligung (im Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen), erhoben werden.
            </p>

            <h2>Kontakt</h2>

            <pre>
Florian Pigorsch
Hurstbrunnenstraße 5
79117 Freiburg

Kontakt
Telefon: 015128942342
E-Mail: <a target="_blank" href="mailto:mail@florian-pigorsch.de">mail@florian-pigorsch.de</a>
            </pre>
        </div>
    </div>
</section>
{{template "footer.html" .}}
