<footer class="container">
    <p>
        <strong>parkruns.de</strong> von <a target="_blank" href="https://florian-pigorsch.de/" target="_blank">Florian Pigorsch</a>. <a href="/impressum.html">Impressum</a> - <a href="/datenschutz.html">Datenschutz</a>
        <br />
        Weitere Projekte: <a target="_blank" href="https://freiburg.run">Laufkalender Freiburg</a>, <a target="_blank" href="https://socialrunclubs.de">Alle Social-Run-Clubs in Deutschland</a>
        <br />
        Letzte Aktualisierung: <span class="timestamp">{{.Timestamp}}</span>
    </p>
</footer>

{{template "tail.html" .}}
