<!DOCTYPE html>
<html lang="de" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Description}}">

        <link rel="canonical" href="{{.Canonical}}" />

        {{range .CssFiles}}
        <link rel="stylesheet" href="/{{.}}"/>
        {{end}}

        <script defer src="https://cloud.umami.is/script.js" data-website-id="{{.Config.UmamiWebsiteID}}"></script>
    </head>
    <body {{if eq .Nav "map"}}class="full-body"{{end}}>
        <header class="container">
            <nav>
                <ul>
                    <li style="display: flex; flex-direction: row;">
                        <img src="favicon.svg" alt="Logo" style="width: 3rem; height: 3rem; margin-right: 0.5rem;">
                        <div style="display: flex; flex-direction: column;"><strong>Alle parkruns in Deutschland</strong><span>(inoffizielle Webseite)</span></div>
                    </li>
                </ul>
                <ul>
                    <li><a href="index.html" {{if eq .Nav "map"}}class="secondary"{{end}}>Karte</a></li>
                    <li><a href="liste.html" {{if eq .Nav "list"}}class="secondary"{{end}}>Liste</a></li>
                    <li><a href="info.html" {{if eq .Nav "info"}}class="secondary"{{end}}>Info</a></li>
                </ul>
            </nav>
        </header>
