<!DOCTYPE html>
<html lang="de" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Description}}">

        {{if .Canonical}}<link rel="canonical" href="{{.Canonical}}" />{{end}}
        {{if eq .Nav "404"}}<meta name="robots" content="noindex">{{end}}
        {{if .Canonical}}
        <meta property="og:type" content="{{if .Article}}article{{else}}website{{end}}">
        <meta property="og:title" content="{{.Title}}">
        <meta property="og:description" content="{{.Description}}">
        <meta property="og:url" content="{{.Canonical}}">
        <meta property="og:site_name" content="parkruns.de">
        <meta property="og:locale" content="de_DE">
        <meta property="og:image" content="{{.SocialImage}}">
        <meta property="og:image:alt" content="Karte mit parkrun Standorten in Deutschland">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{.Title}}">
        <meta name="twitter:description" content="{{.Description}}">
        <meta name="twitter:image" content="{{.SocialImage}}">
        {{end}}
        {{.StructuredData}}

        {{range .CssFiles}}<link rel="stylesheet" href="/{{.}}"/>{{end}}
        {{if .UmamiJsFile}}<script defer src="/{{.UmamiJsFile}}" data-website-id="{{.Config.UmamiWebsiteID}}"></script>{{end}}
    </head>
    <body {{if eq .Nav "map"}}class="full-body"{{end}}>
        <header class="container">
            <nav>
                <a href="/" class="site-brand">
                    <img src="/favicon.svg" alt="Logo" class="site-brand-logo">
                    <div class="site-brand-text"><strong>Alle parkruns in Deutschland</strong><span>(inoffizielle Webseite)</span></div>
                </a>
                <ul>
                    <li><a role="button" href="/" {{if eq .Nav "map"}}class="secondary"{{end}}>Karte</a></li>
                    <li><a role="button" href="/liste.html" {{if eq .Nav "list"}}class="secondary"{{end}}>Liste</a></li>
                    <li><a role="button" href="/planned.html" {{if eq .Nav "planned"}}class="secondary"{{end}}>Geplant</a></li>
                    <!--<li><a role="button" href="/cancellations.html" {{if eq .Nav "cancellations"}}class="secondary"{{end}}>Absagen</a></li>-->
                    <li><a role="button" href="/articles/" {{if eq .Nav "articles"}}class="secondary"{{end}}>Artikel</a></li>
                    <li><a role="button" href="/info.html" {{if eq .Nav "info"}}class="secondary"{{end}}>Info</a></li>
                </ul>
            </nav>
        </header>
