<!DOCTYPE html>
<html lang="de" class="has-two-navbars-fixed-top" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <meta name="description" content="Übersicht über alle parkruns in Deutschland, sowohl als Karte als auch als Liste.">

        <link rel="canonical" href="{{.Canonical}}" />

        {{range .CssFiles}}
        <link rel="stylesheet" href="/{{.}}"/>
        {{end}}
        <style>
            .tnum {
                font-variant-numeric: tabular-nums;
            }
            html, body, #map {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar is-fixed-top is-hidden-touch z-top" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <div class="navbar-item is-flex-direction-column pt-1 pb-1 mr-4">
                        <div class="has-text-weight-bold">parkruns in Deutschland</div>
                        <div class="is-size-7 has-text-centered">(inoffizielle Webseite)</div>
                    </div>
                    <a class="navbar-item{{if eq .Nav "map"}} is-selected{{end}}" href="index.html" target="_top">
                        Karte
                    </a>
                    <a class="navbar-item{{if eq .Nav "list"}} is-selected{{end}}" href="liste.html" target="_top">
                        Liste    
                    </a>
                    <a class="navbar-item{{if eq .Nav "info"}} is-selected{{end}}" href="info.html" target="_top">
                        Info    
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item{{if eq .Nav "impressum"}} is-selected{{end}}" href="impressum.html" target="_top">
                            Impressum    
                        </a>
                        <a class="navbar-item{{if eq .Nav "datenschutz"}} is-selected{{end}}" href="datenschutz.html" target="_top">
                            Datenschutz    
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar is-fixed-top is-hidden-desktop" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item is-flex-direction-column pt-1 pb-1 mr-4">
                    <div class="has-text-weight-bold">parkruns in Deutschland</div>
                    <div class="is-size-7 has-text-centered">(inoffizielle Webseite)</div>
                </div>
                <div class="is-flex-grow-1"></div>
                <a class="navbar-item{{if eq .Nav "impressum"}} is-selected{{end}}" href="impressum.html" target="_top">
                    Impressum    
                </a>
            </div>
            <div class="navbar-brand">
                <a class="navbar-item{{if eq .Nav "map"}} is-selected{{end}}" href="index.html" target="_top">
                    Karte
                </a>
                <a class="navbar-item{{if eq .Nav "list"}} is-selected{{end}}" href="liste.html" target="_top">
                    Liste
                </a>
                <a class="navbar-item{{if eq .Nav "info"}} is-selected{{end}}" href="info.html" target="_top">
                    Info
                </a>
                <div class="is-flex-grow-1"></div>
                <a class="navbar-item{{if eq .Nav "datenschutz"}} is-selected{{end}}" href="datenschutz.html" target="_top">
                    Datenschutz
                </a>
            </div>
            </div>
        </nav>