{{template "header.html" .}}    
<section class="section">
    <div class="container">
        <div class="content">
            <h1>Impressum</h1>

            <pre>
Florian Pigorsch
Hurstbrunnenstraße 5
79117 Freiburg

Kontakt
Telefon: 015128942342
E-Mail: <a href="mailto:mail@florian-pigorsch.de">mail@florian-pigorsch.de</a>
            </pre>
        
            <h2>Haftung</h2>
            <p>
                Die auf <a href="https://parkrun.flopp.net">parkrun.flopp.net</a> veröffentlichten Inhalte sind mit größter Sorgfalt recherchiert, die technischen Services bestmöglich programmiert.
                Dennoch kann ich keine Gewähr für die vollständige Richtigkeit übernehmen.
                Alle Angaben erfolgen ohne Gewähr.
                Eine Haftung für Schäden, die sich aus der Verwendung der veröffentlichten Inhalte oder Services ergeben, ist ausgeschlossen.
            </p>
            
            <h2>Verweise und Links</h2>
            <p>
                Auf den Inhalt von Webseiten hinter externen Links habe ich keinen Einfluss.
                Zum Zeitpunkt des Setzens waren weder illegale, fehlerhafte oder unvollständige Inhalte feststellbar.
                Die Haftung für die verlinkten Webseiten schließe ich dediziert aus, da ich keinen Einfluss auf die aktuelle und zukünftige Gestaltung habe.
                Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
            </p>
    
        </div>
    </div>
</section>
{{template "footer.html" .}}