{{template "header.html" .}}
<section class="section">
    <div class="container">
        <div class="notification is-info">
            Diese Webseite ist ein reines Hobbyprojekt und in keinerlei Weise mit <a target="_blank" href="https://www.parkrun.com.de/">parkrun</a> verbunden oder von parkrun unterstützt!
        </div>

        <div class="content">
            <h1>Was ist parkrun?</h1>
            <p>
                <a target="_blank" href="https://www.parkrun.com.de/">parkrun</a> ist eine weltweit stattfindender, kostenloser 5km-Lauf, der jeden Samstagmorgen an über 2000 Standorten ({{len .Events}} davon in Deutschland) veranstaltet wird.
                Die Läufe werden dabei von freiwilligen Helferteams organisiert.
            </p>

            <h1>Was ist diese Webseite?</h1>
            <p>
                Die Webseite listet alle deutschen parkrun-Standorte auf, zum einen auf einer <a href="index.html" target="_top">Karte</a>, zum anderen in <a href="liste.html" target="_top">Tabellenform</a>.
                Die Karte zeigt auch die Laufstrecke jedes parkrun-Standorts.
                Zusätzlich werden Informationen zur jeweils letzten Veranstaltung jedes Standorts angezeigt (Datum, Anzahl Teilnehmer).
            </p>

            <h1>Daten</h1>
            <p>
                Einige parkrun-Daten (Ort, Gründungsdarum, Google-Maps-Link) werden <a target="_blank" href="https://github.com/flopp/parkrun-map/blob/main/data/parkruns.json">manuell von mir gepflegt</a>.
                Die Daten zur letzten parkrun-Austragung stammen aus den parkrun-Wiki, <a target="_blank" href="https://wiki.parkrun.com/index.php/Dietenbach_parkrun">hier</a> z.B. für den Dietenbach parkrun in Freiburg.
                Die parkrun-Strecken kommen von Google Maps, <a target="_blank" href="https://www.google.com/maps/d/viewer?mid=1GnGtJp1rRlw7MNonEY9clUgXhX9pkHIW">hier</a> ebenfalls für den Dietenbach parkrun.
                Die Daten werden gegelmäßig aktualisiert.
            </p>

            <h1>Fehler gefunden? Verbesserungsvorschläge?</h1>
            <p>
                Wenn du einen Fehler gefunden hast (z.B. Schreibfehler, falsche Daten) oder einen Verbesserungsvorschlag für die Webseite hast, melde dich bitte per Mail bei mir:<br>
                <a target="_blank" href="mailto:mail@florian-pigorsch.de">mail@florian-pigorsch.de</a>
            </p>

            <h1>Und sonst?</h1>
            <p>
                Ich betreibe außerdem die Webseite <a target="_blank" href="https://freiburg.run">freiburg.run</a>, die alle Laufveranstaltungen rund um Freiburg im Breisgau auflistet - der lokale <a target="_blank" href="https://freiburg.run/group/dietenbach-parkrun.html">Dietenbach parkrun</a> ist natürlich auch mit dabei!
            </p>
        </div>
    </div>
</section>
{{template "footer.html" .}}
