{{template "header.html" .}}        
    <main class="container">
        <h1>
            parkruns in Deutschland
        </h1>
        <article>
            Es gibt momentan {{.ActiveEvents}} aktive{{if or .PlannedEvents .ArchivedEvents}} (und {{if .PlannedEvents}}{{.PlannedEvents}} geplante & {{end}}{{.ArchivedEvents}} archivierte){{end}} parkrun-Standorte in Deutschland.
        
            Hier ist die Liste aller parkruns.
        </article>

        <table id="parkruns-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ort</th>
                    <th>Seit</th>
                    <th>Letzter Lauf</th>
                    <th>Teilnehmer</th>
                    <th>Rang</th>
                </tr>
            </thead>
            <tbody>
            {{range .Events}}
                <tr>
                    <td>
                        {{if .Active}}
                        <a href="{{.Id}}.html">{{.FixedName}}</a>
                        {{else if .Planned}}
                        <a href="{{.Id}}.html">{{.FixedName}}</a> <span class="tag-green">geplant</span>
                        {{else}}
                        <a href="{{.Id}}.html">{{.FixedName}}</a> <span class="tag-red">archiviert</span>
                        {{end}}
                    </td>
                    <td>
                        <a target="_blank" href="{{.GoogleMapsUrl}}">{{.FixedLocation}}</a>
                    </td>
                    <td class="tnum">
                        {{.First}}
                    </td>
                    {{if .LatestRun}}
                    <td class="tnum{{if .Outdated}} grey-text{{end}}">
                        <a target="_blank" href="{{.LatestRun.Url}}">{{.LatestRun.Index}} ({{.LatestRun.DateF}})</a>
                        {{if .Outdated}} <span class="tag-red">veraltet</span>{{end}}
                    </td>
                    <td class="tnum{{if .Outdated}} grey-text{{end}}">
                        {{.LatestRun.Runners}}
                    </td>
                    {{if .Outdated}}
                    <td class="grey-text">-</td>
                    {{else}}
                    <td class="tnum">
                        {{.Order}}
                    </td>
                    {{end}}
                    {{else}}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    {{end}}
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
{{template "footer.html" .}}