{{template "header.html" .}}        
    <main class="container">
        <h1>
            parkruns in Deutschland
        </h1>
        <article>
            Es gibt momentan {{.ActiveEvents}} aktive{{if or .PlannedEvents .ArchivedEvents}} (und {{if .PlannedEvents}}{{.PlannedEvents}} geplante & {{end}}{{.ArchivedEvents}} archivierte){{end}} parkrun-Standorte in Deutschland.
        
            Hier ist die Liste aller parkruns.
        </article>

        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="is-hidden-mobile">Ort</th>
                    <th class="is-hidden-mobile">Seit</th>
                </tr>
            </thead>
            <tbody>
            {{range .Events}}
                <tr>
                    <td>
                        {{if .Active}}
                        <a href="{{.Id}}.html">{{.FixedName}}</a>
                        {{else if .Planned}}
                        <a href="{{.Id}}.html">{{.FixedName}}</a> <span class="tag-green">geplant</span>
                        {{else}}
                        <a href="{{.Id}}.html">{{.FixedName}}</a> <span class="tag-red">archiviert</span>
                        {{end}}
                    </td>
                    <td>
                        <a target="_blank" href="{{.GoogleMapsUrl}}">{{.FixedLocation}}</a>
                    </td>
                    <td class="tnum">
                        {{.First}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
{{template "footer.html" .}}