{{template "header.html" .}}
<main class="container">
    <h1>{{.Event.FixedName}}</h1>

    <p>
        {{if .Event.Active}}
        Der {{.Event.FixedName}} ist ein kostenloser, wöchentlicher 5km-Lauf in {{.Event.FixedLocation}} ({{.Event.State}}).
        {{if .Event.SpecificLocation}}Die Strecke verläuft {{.Event.SpecificLocation}}.{{end}}
        Der erste Lauf fand am {{.Event.First}} statt, insgesamt gab es {{.Event.LatestRun.Index}} Austragungen.
        {{else if .Event.Planned}}
        Der {{.Event.FixedName}} ist ein geplanter parkrun-Standort in {{.Event.FixedLocation}} ({{.Event.State}}).
        {{if .Event.SpecificLocation}}Die Strecke verläuft {{.Event.SpecificLocation}}.{{end}}
        Der erste Lauf ist für den {{.Event.First}} geplant.
        {{else}}
        Der {{.Event.FixedName}} war ein parkrun-Standort in {{.Event.FixedLocation}} ({{.Event.State}}).
        {{end}}
        <br>
        Auf dieser Seite findest du die Streckenkarte, aktuelle Informationen und weiterführende Links.
    </p>

    <table class="table">
        {{if .Event.Active}}
        {{else if .Event.Planned}}
            <tr><td>Status</td><td><span class="tag-green">geplant</span></td></tr>
        {{else}}
            <tr><td>Status</td><td><span class="tag-red">archiviert</span></td></tr>
        {{end}}
        <tr><td>Ort</td><td>{{.Event.FixedLocation}} ({{.Event.State}})</td></tr>
        <tr><td>Seit</td><td>{{.Event.First}}</td></tr>
        {{if .Event.LatestRun}}
        <tr><td>Austragungen</td><td>{{.Event.LatestRun.Index}}</td></tr>
        <tr><td>Letzte Austragung</td><td><a href="{{.Event.LatestRun.Url}}" target="_blank">#{{.Event.LatestRun.Index}} am {{.Event.LatestRun.DateF}}, {{.Event.LatestRun.RunnerCount}} Teilnehmer</a></td></tr>
        {{end}}
        {{if .Event.RouteType}}
        <tr><td>Streckenart</td><td>{{.Event.RouteType}}</td></tr>
        {{end}}
        <tr><td>Offizielle Webseiten</td><td><a href="{{.Event.Url}}" target="_blank">Hauptseite</a>, <a href="{{.Event.CoursePageUrl}}" target="_blank">Streckenbeschreibung</a>, <a href="{{.Event.ResultsUrl}}" target="_blank">Ergebnisliste</a>, <a href="{{.Event.WikiUrl}}" target="_blank">Wiki</a></td></tr> 
        <tr><td>Google Maps</td><td><a href="{{.Event.GoogleMapsUrl}}" target="_blank">Ort</a>, <a href="{{.Event.GoogleMapsCourseUrl}}" target="_blank">Strecke</a></td></tr>
        {{if .Event.Links}}
        <tr><td>Weitere Links</td><td>
                {{range $i,$e := .Event.Links}}{{if $i}}, {{end}}<a href="{{$e.Url}}" target="_blank">{{$e.Name}}</a>{{end}}
        </td></tr>
        {{end}}
    </table>

    <div id="parkrun-map" data-id="{{.Event.Id}}"></div>
</main>
{{template "footer.html" .}}