html.has-two-navbars-fixed-top {
    padding-top: 3.25rem;
}
@media screen and (max-width: 1023px) {
    html.has-two-navbars-fixed-top {
        padding-top: 6.5rem;
    }
}

.navbar.z-top {
    z-index: 9999;
}

#parkrun-map {
    height: 400px;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-right: 2em;
}